<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.IntroducePoMapper">
  <resultMap id="IntroducePoResultMap" type="com.company.project.model.IntroducePo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="iid" jdbcType="INTEGER" property="iid" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="contacts" jdbcType="VARCHAR" property="contacts" />
    <result column="management_model" jdbcType="VARCHAR" property="managementModel" />
    <result column="company_introduce" jdbcType="VARCHAR" property="companyIntroduce" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
  </resultMap>


  <select id="getIntroducePoList" resultMap="IntroducePoResultMap">
    SELECT iid,company_name, contacts,management_model, company_introduce, logo
      FROM introduce,company_message
WHERE iid IN (SELECT iid FROM introduce_cm WHERE company_message.cmid = introduce_cm.cmid);
  </select>
</mapper>