<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.ProductPoMapper">
  <resultMap id="ProductPoResultMap" type="com.company.project.model.ProductPo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
  </resultMap>


  <select id="getProductPoList" resultMap="ProductPoResultMap">
    SELECT product.PRODUCT_NAME, product.URL, types.TYPE_NAME
            FROM product,types
            WHERE product.pid IN
            (SELECT pid FROM product_types WHERE types.tid = product_types.tid)
  </select>
</mapper>