<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.TypesMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Types">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="tid" jdbcType="INTEGER" property="tid" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="describes" jdbcType="VARCHAR" property="describes" />
    <result column="type_time" jdbcType="TIMESTAMP" property="typeTime" />
  </resultMap>
</mapper>